@model List<Team>
@{
   int counter = 0;
}


<div class="container pt-5 pb-5">

    <div class="container">
        <h1 style="text-align:center">Teams</h1>
    </div>


    <div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Position</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                    <th scope="col"><a asp-action="create" asp-controller="team" class="btn btn-primary">Create</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var team in Model){
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@team.Id</td>
                        <td>@team.FullName</td>
                        <td>@team.Position.Name</td>
                        <td><img src="~/uploads/teams/@team.ImageUrl" width="100px"/></td>
                        <td><a asp-action="update" asp-controller="team" asp-route-id="@team.Id" class="btn btn-success">Update</a></td>
                        <td><a asp-action="delete" asp-controller="team" asp-route-id="@team.Id" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
               
            </tbody>
        </table>

       

    </div>




</div>